<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingmeng.dao.goods.BrandMapper">
    <insert id="insertIntoCateAndBrand">
        INSERT INTO lm_category_brand (category_id, brand_id) VALUES (#{cateId},#{brandId})
    </insert>
    <delete id="deleteByBrandId">
        DELETE FROM lm_category_brand WHERE  brand_id =#{brandId}
    </delete>
    <select id="getBrandList" resultType="com.lingmeng.goods.vo.res.BrandRes">
        SELECT id,brand_name,brand_pic,brand_letter FROM lm_brand
        <if test="req.keyWords!=null and req.keyWords!=''">
            WHERE brand_name like  CONCAT('%',#{req.keyWords},'%')
        </if>
        <if test="req.sortBy!=null and req.sortBy!=''">
            order by ${req.sortBy}
        </if>
        <if test = "req.desc != null">
            <choose>
                <when test = "req.desc == true">
                    desc
                </when>
                <when test = "req.desc == false">
                    asc
                </when>
                <otherwise></otherwise>
            </choose>
        </if>
    </select>
    <select id="getCount" resultType="java.lang.Long">
         SELECT count(*) FROM lm_brand
        <if test="req.keyWords!=null and req.keyWords!=''">
            WHERE brand_name like  CONCAT('%',#{req.keyWords},'%')
        </if>
    </select>
    <select id="selectCategoryByBrandId" resultType="com.lingmeng.goods.model.Category">
        SELECT  id,category_name FROM lm_category WHERE id in (SELECT category_id from lm_category_brand WHERE brand_id = #{brandId})
    </select>
    <select id="queryNameByIds" resultType="com.lingmeng.goods.model.Brand">
          SELECT * FROM lm_brand
         WHERE id in
         <foreach collection="ids" index="index" item="item"
                               open="(" separator="," close=")">
        #{item}
    </foreach>
    </select>
</mapper>