<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingmeng.dao.goods.CategoryMapper">


    <delete id="deleteByCateId">
       update  lm_category set del_flag = 1 WHERE id = #{cateId}
    </delete>
    <select id="getBrandsNameByCateId" resultType="com.lingmeng.model.goods.vo.res.BrandRes">
    SELECT
        *
    FROM
        lm_brand
        LEFT JOIN lm_category_brand ON lm_brand.id = lm_category_brand.brand_id
         WHERE lm_category_brand.category_id = #{cateId}
    </select>

</mapper>