<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingmeng.dao.goods.SpecificationMapper">


    <select id="getSpecificationByCateId" resultType="com.lingmeng.goods.model.Specification">
        SELECT * from lm_specification WHERE category_id =#{cateId}
    </select>
</mapper>