<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingmeng.dao.goods.SpuDetailMapper">

    <select id="getRelateInfoBySpuId" resultType="com.lingmeng.model.goods.model.SpuDetail">
        SELECT
	s1.description,
	s1.specifications,
	s1.unique_specification,
	s1.package_list,
	s1.after_sales_service
	FROM
		lm_spu_detail s1
	WHERE
		s1.spu_id = #{spuId}
    </select>
</mapper>